<div class="row mb-3">
  <div class="col-12">
    <button type="button" class="btn btn-link px-0" (click)="onGoBack()">Back to vehicle</button>
  </div>
</div>
<div class="row justify-content-around">
  <div class="col-9">
    <h1 class="fs-1 mt-4 mb-5 text-center">Your personal finance calculation</h1>
    <h2 class="fs-3 text-body-secondary mt-4 mb-4">
      {{vehicle?.make}}&nbsp;&nbsp;{{vehicle?.model}}&nbsp;&nbsp;{{vehicle?.colour}}&nbsp;&nbsp;{{vehicle?.year}}
    </h2>
    @if(loading) {
      <app-spinner />
    }
    @if(financeQuote) { 
      <div class="mb-4">
        <div class="card card-body">
          <app-finance-calculator 
            [financeCalculatorInput]="financeCalculatorInput" 
            (onCalculate)="handleFincanceCalculation($event)" 
          />
        </div>
      </div> 
      <div class="row my-5 py-2 text-white justify-content-between bg-success rounded">
        <div class="col-auto">
          <p class="fs-4">Monthly payment</p> 
        </div>
        <div class="col-auto">
          <p class="fs-4">{{financeQuote.monthlyPayment | currency: currency}}</p>
        </div>
      </div>
             
      <app-finance-detail
        [financeQuote]="financeQuote" 
        [currency]="currency"
        [financeCalculatorInput]="financeCalculatorInput"
      />
    }
  </div>
</div>