<form (submit)="handleCalculate($event)" [formGroup]="financeCalculatorControl">
  <p class="fs-4 mb-3">Calculate your monthly payments</p>
  <div class="row g-3 align-items-end mb-3">
    <div class="col-3">
      <label for="deposit" class="col-form-label">Cash deposit</label>
      <input type="number" id="deposit" class="form-control" formControlName="deposit">
    </div>
    <div class="col-3">
      <label for="term" class="col-form-label">Term (months)</label>
      <select class="form-control" formControlName="term">
        @for(term of financeTermsOptionsList; track term) {
          <option [value]="term">{{term}}</option>
        }
      </select>
    </div>
    <div class="col-3">
      <button type="submit" class="btn btn-primary">Calculate</button>
    </div>
  </div>
</form>
